node_modules
package.json
package-lock.json
bun.lock
.gitignore
antigravity-accounts.json
antigravity-accounts.json.*.tmp
antigravity-signature-cache.json
antigravity-logs/
.swarm/
.worktrees/

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
