node_modules
bun.lock
.gitignore
antigravity-accounts.json
antigravity-accounts.json.*.tmp
antigravity-signature-cache.json
antigravity-logs/
.swarm/
.worktrees/
.oh-my-opencode-slim/

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# BEGIN oh-my-opencode-slim clonedeps
.slim/clonedeps/repos/
# END oh-my-opencode-slim clonedeps
